---
---

<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Conference</title>

<style>
body{
    background:#111;
    color:white;
    font-family:Georgia,serif;
    max-width:900px;
    margin:80px auto;
}

h1{
font-size:60px;
margin-bottom:60px;
}

.card{
margin-bottom:50px;
padding-bottom:30px;
border-bottom:1px solid #333;
}

a{
color:white;
font-size:28px;
text-decoration:none;
}

a:hover{
opacity:.7;
}

p{
color:#888;
}
</style>

</head>

<body>

<h1>Conference</h1>

<div class="card">

<a href="/conferences/CY-ICPLC.pptx">

International Conference on
Comparative Literature

</a>

<p>
PowerPoint Presentation
</p>

</div>

<div class="card">

<a href="/conferences/CY-UoL PPT.pptx">

University of Liverpool

Current Research in Speculative Fiction

</a>

<p>
PowerPoint Presentation
</p>

</div>

</body>

</html>
